.cabeçalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabeçalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao {
  display: none;
}

/*Hiding mobile*/

.lista-menu-desk,
.nav-menu-desk,
.container__name {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container__name {
    display: block;
  }

  .container__imagem-transparente,
  .cabeçalho__menu-hamburguer {
    display: none;
  }

  .container {
    padding: 0 2rem;
  }

  .nav-menu-desk {
    display: flex;
  }

  .container__name {
    font-family: var(--fonte-desk);
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
  }
  .container__name--negrito {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }

  .container__botao:checked ~ .lista-menu {
    display: block;
  }

  .nav-menu-desk__item {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    margin: 0rem 1rem;
  }
  
  .nav-menu-desk__link{
    text-decoration: none;
  }

  .lista-menu {
    width: auto;

  }

  .lista-menu__item:hover {
    background: var(--azul-degrade);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }
}
